body {
    background-color: lightgray;
}

/* target everything */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 60%;
}

h1 {
    color: rgb(171, 26, 55);
    font-size: 87px;
    margin-bottom: 75px;
}

h2 {
    font-size: 71px;
    margin-bottom: 60px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 37px;
    padding: 30px;
    text-align: center;
    width: 480px;
    margin-bottom: 16px;
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 3px;
}

.button[disabled] {
    cursor: not-allowed;
}

#hall-of-fame {
    background: rgb(254, 217, 4);
}

