body {
    background-color: rgb(132, 131, 131);
}


header {
    text-align: center;
}

header h1 {
    color: crimson;   
}

header p {
    color: rgb(221, 167, 32)
    ;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.left {
    color: white;
    
}

.right {
    color: white;
    position: relative;
    float: right;

}