body {
    background-color: black;
}

/* target everything */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-size: 55px;
    text-shadow: 2px 2px 1px red;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 37px;
    padding: 30px 0;
    text-align: center;
    width: 480px;
    margin-bottom: 16px;
    text-decoration: none;
    color: white;
    background-color: rgb(27, 181, 247);
    border-radius: 3px;
}

.button:hover {
    cursor:pointer;
}

/* Game Over page */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#end-text {
    color: white;
}
