body {
    background-color: rgb(132, 131, 131);
}


header {
    text-align: center;
}

header h1 {
    color: crimson;   
}

header p {
    color: rgb(221, 167, 32)
    ;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.left {
    color: white;
    
}

.right {
    color: white;
    position: relative;
    float: right;

}

.box {
    height: 400px;
    position: relative;
    border: 3px solid red
}
.game {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}