body {
    color: white;
}

.answer-container {
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 4px;
    background: rgb(121, 38, 121);
    font-size: 48px;
    min-width: 1280px;
}

.answer-default {
    padding: 32px 32px;
    color: white;
}

.answer-text {
    padding: 32px;
    width: 100%;
}

.correct {
    background: rgb(10, 188, 10);
}

.wrong {
    background: red;
}

/* display */
#display-panel {
    display: flex;
    justify-content: space-between;
}

.display-text {
    text-align: center;
    font-size: 50px;
}

.display-default {
    color: white;
}