body {
    color:white
}

.answer-container {
    display: flex;
    margin: 0 auto;
    margin-bottom: 12px;
    height: 75px;
    border-radius: 4px;
    background: rgb(247, 217, 44);
    font-size: 30px;
    min-width: 500px;
}

.answer-container:hover {
    cursor:pointer;
}

.answer-default {
    padding: 20px 20px;
    color: white;
    font-size: larger;
    text-shadow: 2px 2px 2px red;
}

.answer-text {
    padding: 18px; 
    color: blue;
    text-align: center;
    text-shadow: 2px 2px 1px white;
    font-size: larger;

}

.right {
    background: rgb(10, 188, 10);
}

.wrong {
    background: red;
}

#question {
    font-size: 37px;
    text-align: center;
    text-shadow: 2px 2px 2px red;
}

/* display */
#display  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.display-default {
    text-align: center;
    font-size: 28px;
    text-shadow: 1px 1px 1px red;

}

.display-text {
    color: blue;
    text-shadow: 1px 1px 1px white;
}